~$*.*
*.tmp
*.bak
*.test

*.scc
*.ncb
*.opt
*.aps
*.bsc
*.pdb
*.exp
*.ilk
*.map
*.plg
*.idb
*.pch
*.res
*.sbr
*.xsr

./obj/

*.obj
*.lib
*.dll
*.exe

!libtcc.lib
!lua51.lib
!lua5.1.lib
!net.lib
!net_d.lib
!trace.lib

!bin2c5.1.exe

!libtcc.dll
!lua5.1.dll
!lua51.dll
!luaext.dll
!mfc42d.dll
!mfcn42d.dll
!MFCO42D.dll
!msvcp60.dll
!MSVCP60D.dll
!msvcrtd.dll
!net.dll
!net_d.dll
!trace.dll

